
<div class="container">
    <div class="left-container">

        <img src="./assets/main.jpg">
    </div>
   
    <div class="right-container" *ngIf="DisplayRecipe">
        <div class="data">
        <label>Rcipe Name:</label>
        <span>{{DisplayRecipe.racipeName |titlecase}} </span> 
        </div>
        <div class="data">
        <label>Preparetion time:</label>
        <span class="normal">{{DisplayRecipe.prepationTime |titlecase}} </span>
        </div>
        <div class="data">
        <label>Ingrideants:</label>
        <span >{{DisplayRecipe.ingredients |titlecase}} </span>
        </div>
        <div class="data">
        <label>Instructions:</label>
        <span class="instruction">{{DisplayRecipe.instructions }} </span>
        </div>
    </div>

    <div class="btn">
        <button mat-icon-button color="primary" (click)="editRecipe()">
        <mat-icon >edit</mat-icon>
        </button>&nbsp;
        <button mat-icon-button color="warn" (click)="deleteRecipe(DisplayRecipe.id)">
        <mat-icon >delete</mat-icon>
        </button>
    </div>

    
</div>