<div class="main">
  <div class="header">
    <div class="logo-header">
      <img src="./assets/logo.png" />
    </div>

    <div class="containt-header">
      <div class="link" >
      <p routerLink="home">Home</p>
      </div>
      <div class="link">
      <p routerLink="recipyList">Recipe List</p>
      </div>
      <button mat-raised-button color="warn" (click)="openDialog()" >  
        Create Recipe   
      </button>
    </div>
  </div>
  <div class="body">
    <div class="left-body">
      <div class="list" *ngFor="let l of list">
        <div class="list-r">
        <p >
         {{l}}</p>
         <b>5</b>
         </div>
       </div >
    </div>
    <div class="right-body">
    
    <router-outlet></router-outlet>
  </div>
  </div>
</div>